@CHARSET "UTF-8";
.category_tree {
	border-left: 1px dotted rgba(211, 225, 188, .4);
	border-bottom: 1px dotted rgba(211, 225, 188, .4);
	margin-top: .6em;
}
.article_tree {
	border-left: 1px dotted rgba(211, 225, 188, .8);
	margin-top: .5em;
}
.category_tree li {
	list-style-type: none;
	margin-left: 1em;
	padding: .7em;
	position: relative;
	color: rgb(220,220,220);
}
.category_link, .category_link:hover, .article_link, .article_link:hover{
	transition: background .5s ease, color .2s ease;
	padding: .4em 1em;
	width: 20em;
	max-width: 20em;
	display: inline-block;
	border-radius: 2px;
}
.category_link{
	background: rgb(100,100,140);
	font-weight: bold;
	color: rgb(30,25,80);
}
.category_tree .category_tree .category_link{
	background: rgb(180,180,220);
}
.article_link{
	background: rgba(220, 220, 220, .2);
	border-bottom: 1px dotted rgba(200,200,200,.5);
	border-right: 1px dotted rgba(200,200,200,.4);
	color: rgb(60,60,80);
}
.category_link:hover, .category_tree .category_tree .category_link:hover, .article_link:hover{
	background: rgb(155,145,165);
	color: white;
}
.article_create .add_new{
	border-color: transparent;
	background: rgb(210,235,210);
	color: rgb(80,125,80);
	line-height: 1.5em;
	padding: .4em 1em;
	transition: background .5s;
}
.article_create .add_new:hover{
	background: rgb(110,160,110);
	color: white;
	transition: background .5s;
}
.moveup,.movedown {
	display: inline-block;
	height: 22px;
	width: 22px;
	margin: 0 0.1em;
	background-size: 100%;
}
.movedown {
	background-image: url("../../img/down.png");
}
.moveup {
	background-image: url("../../img/up.png");
}
.blur {
	cursor: default;
	opacity: 0.3;
}
